.calculate{
  width: 10em;
}

.result {
  align-items: center;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1025px) {
  .form {
    flex-flow: wrap;
  }
}